We Have already found which hyperparameter is importance. So in this notebook, we want to verify our previous results with Wilcoxon statistical test.

In [12]:
from scipy.stats import wilcoxon
import math
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

### Using Scipy Library to calculate Wilcoxon

In [13]:
# ### Using Scipy Library to calculate Wilcoxon
def willcoxon_for_two_model(data1,data2):
    
    '''
    this function return willcoxon test for two models.
    '''
    
    stat, p = wilcoxon(data1, data2)
    #print('Statistics=%.3f, p=%.3f' % (stat, p))
    # interpret
    alpha = 0.05
    if p > alpha or math.isnan(p):
        #print('Same distribution (fail to reject H0)==>>0')
        return 0
    else:
        #print('Different distribution (reject H0)==>> 1')
        return 1

In [14]:
def willcoxon_all(df):
    
    '''
    this Fuction compute a 6*6 matrix with Wilcoxon signed-rank test for our models.
    
    '''
    
    
    df_out=pd.DataFrame(index=df.columns,columns=df.columns)
    df_out=df_out.fillna(0)
    

    for model1 in df.columns:
        for model2 in df.columns:
            if model1==model2:
                df_out[model1][model2]=0
            else:
                df_out[model1][model2]=willcoxon_for_two_model(df[model1],df[model2])
    print('There is no significant difference (fail to reject H0)  ==>> 0')
    print('There is no significant difference (reject H0)     ==>> 1')
    return df_out

In [15]:
for cls in ["rf",'ab','gb','dt','et','svm']:

    params_wilcoxon=pd.read_csv('../output_csv/'+cls+'_params_wilcoxon.csv')
    del params_wilcoxon['dataset']
    willcoxon_test_output=willcoxon_all(params_wilcoxon)
    willcoxon_test_output.to_csv("../output_csv/willcoxon_test_output_"+cls+".csv")

There is no significant difference (fail to reject H0)  ==>> 0
There is no significant difference (reject H0)     ==>> 1
There is no significant difference (fail to reject H0)  ==>> 0
There is no significant difference (reject H0)     ==>> 1
There is no significant difference (fail to reject H0)  ==>> 0
There is no significant difference (reject H0)     ==>> 1
There is no significant difference (fail to reject H0)  ==>> 0
There is no significant difference (reject H0)     ==>> 1
There is no significant difference (fail to reject H0)  ==>> 0
There is no significant difference (reject H0)     ==>> 1
There is no significant difference (fail to reject H0)  ==>> 0
There is no significant difference (reject H0)     ==>> 1

In [16]:
i=0
df=list()
dfs=list()
for cls in ["rf",'ab','gb','dt','et','svm']:
    
    df=pd.read_csv("../output_csv/willcoxon_test_output_"+cls+".csv")
    dfs.append(df)

In [17]:
# RF
dfs[0]

,Unnamed: 0,bootstrap,criterion,max_features,min_samples_leaf,min_samples_split,"('max_features', 'min_samples_leaf')","('bootstrap', 'max_features')"
0,bootstrap,0,1,1,1,1,0,1
1,criterion,1,0,1,1,1,1,1
2,max_features,1,1,0,1,1,1,1
3,min_samples_leaf,1,1,1,0,1,1,1
4,min_samples_split,1,1,1,1,0,1,1
5,"('max_features', 'min_samples_leaf')",0,1,1,1,1,0,1
6,"('bootstrap', 'max_features')",1,1,1,1,1,1,0

In [18]:
# AB
dfs[1]

,Unnamed: 0,learning_rate,max_depth,n_estimators,"('learning_rate', 'max_depth')","('learning_rate', 'n_estimators')","('max_depth', 'n_estimators')","('algorithm', 'max_depth', 'learning_rate')"
0,learning_rate,0,1,1,1,1,1,1
1,max_depth,1,0,1,1,1,1,1
2,n_estimators,1,1,0,1,1,1,1
3,"('learning_rate', 'max_depth')",1,1,1,0,1,1,1
4,"('learning_rate', 'n_estimators')",1,1,1,1,0,0,0
5,"('max_depth', 'n_estimators')",1,1,1,1,0,0,0
6,"('algorithm', 'max_depth', 'learning_rate')",1,1,1,1,0,0,0

In [19]:
# GB
dfs[2]

,Unnamed: 0,criterion,learning_rate,max_depth,max_features,min_samples_leaf,min_samples_split,n_estimators
0,criterion,0,1,1,1,1,1,1
1,learning_rate,1,0,1,1,1,1,1
2,max_depth,1,1,0,1,1,1,1
3,max_features,1,1,1,0,0,1,1
4,min_samples_leaf,1,1,1,0,0,1,1
5,min_samples_split,1,1,1,1,1,0,1
6,n_estimators,1,1,1,1,1,1,0

In [20]:
# dt
dfs[3]

,Unnamed: 0,max_features,min_samples_leaf,min_samples_split,criterion,"('max_features', 'min_samples_leaf')","('max_features', 'min_samples_split')"
0,max_features,0,1,1,1,1,1
1,min_samples_leaf,1,0,1,1,1,1
2,min_samples_split,1,1,0,1,1,1
3,criterion,1,1,1,0,1,1
4,"('max_features', 'min_samples_leaf')",1,1,1,1,0,1
5,"('max_features', 'min_samples_split')",1,1,1,1,1,0

In [21]:
# ET
dfs[4]

,Unnamed: 0,bootstrap,criterion,max_features,min_samples_leaf,min_samples_split,"('max_features', 'min_samples_leaf')","('min_samples_leaf', 'min_samples_split')"
0,bootstrap,0,1,1,1,1,1,1
1,criterion,1,0,1,1,1,1,1
2,max_features,1,1,0,0,1,1,1
3,min_samples_leaf,1,1,0,0,1,1,1
4,min_samples_split,1,1,1,1,0,1,1
5,"('max_features', 'min_samples_leaf')",1,1,1,1,1,0,1
6,"('min_samples_leaf', 'min_samples_split')",1,1,1,1,1,1,0

In [22]:
# SVM
dfs[5]

,Unnamed: 0,gamma,kernel,"('gamma', 'kernel')","('coef0', 'gamma')","('gamma', 'imputation')","('imputation', 'kernel')","('coef0', 'imputation')","('C', 'imputation')","('imputation', 'tol')"
0,gamma,0,1,1,1,1,1,1,1,1
1,kernel,1,0,1,1,1,1,1,1,1
2,"('gamma', 'kernel')",1,1,0,1,1,1,1,1,1
3,"('coef0', 'gamma')",1,1,1,0,1,1,1,1,1
4,"('gamma', 'imputation')",1,1,1,1,0,1,1,1,1
5,"('imputation', 'kernel')",1,1,1,1,1,0,1,1,1
6,"('coef0', 'imputation')",1,1,1,1,1,1,0,1,1
7,"('C', 'imputation')",1,1,1,1,1,1,1,0,1
8,"('imputation', 'tol')",1,1,1,1,1,1,1,1,0