In [1]:
from scipy.stats import wilcoxon
import math
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('../output_csv/df_mean_time.csv')
train_list=["RF_mean_train","GB_mean_train","DT_mean_train","SVM_mean_train","ET_mean_train","AB_mean_train"]
test_list=["RF_mean_test","GB_mean_test","DT_mean_test","SVM_mean_test","ET_mean_test","AB_mean_test"]
df_train=df[train_list]
df_test=df[test_list]

In [3]:
df["GB_mean_train"].max()

187.74924038314091

In [4]:
df[df["GB_mean_train"].max()==df["GB_mean_train"]]

,Unnamed: 0,datasets,RF_mean_train,RF_mean_test,GB_mean_train,GB_mean_test,DT_mean_train,DT_mean_test,SVM_mean_train,SVM_mean_test,ET_mean_train,ET_mean_test,AB_mean_train,AB_mean_test
60,60,dataset_6_letter.csv,3.39749,0.055376,187.74924,0.370112,0.041282,0.001166,52.19862,4.05592,1.470975,0.058806,13.167146,0.335623

In [5]:
df_letter=pd.read_csv("../output_csv/dataset_6_letter.csv")

In [6]:
df_letter

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,class
0,2,4,4,3,2,7,8,2,9,11,7,7,1,8,5,6,Z
1,4,7,5,5,5,5,9,6,4,8,7,9,2,9,7,10,P
2,7,10,8,7,4,8,8,5,10,11,2,8,2,5,5,10,S
3,4,9,5,7,4,7,7,13,1,7,6,8,3,8,0,8,H
4,6,7,8,5,4,7,6,3,7,10,7,9,3,8,3,7,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5,10,5,8,3,4,10,7,8,12,10,9,2,9,2,6,C
19996,4,7,6,5,3,7,8,2,10,12,6,8,1,9,6,8,Z
19997,4,8,4,6,4,7,8,7,4,10,7,6,3,9,3,7,O
19998,4,11,4,8,3,0,2,4,6,1,0,7,0,8,0,8,L
19999,5,9,6,11,6,8,7,6,3,8,8,11,3,8,6,8,Q