### intro
In this notebook, we will extract some meta-data regrad to all datasets

In [4]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
import openml
import pandas as pd
from openml.datasets import edit_dataset, fork_dataset, get_dataset

In [7]:
mypath="../datasets"
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [10]:
files= [ file[:-4] for file in onlyfiles]
files

['donut1',
 'diabetes',
 'qsar-biodeg',
 'curves2',
 'spambase',
 'disk_4000n',
 'haberman',
 'dense-disk-5000',
 'eeg-eye-state',
 'disk_4600n',
 'Amazon_employee_access',
 'phoneme',
 'disk_1000n',
 'Transfusion',
 'breast-w',
 'electricity',
 'chainlink',
 'disk_4500n',
 'dense-disk-3000',
 'engytime',
 'disk_5000n',
 'jain',
 'banana',
 'Spectf',
 'atom',
 'parkinsons',
 'donut2',
 'circle',
 'flame']

In [11]:
openml_list = openml.datasets.list_datasets()  # returns a dict
datalist = pd.DataFrame.from_dict(openml_list, orient="index")

In [12]:
datalist.columns

Index(['did', 'name', 'version', 'uploader', 'status', 'format',
       'MajorityClassSize', 'MaxNominalAttDistinctValues', 'MinorityClassSize',
       'NumberOfClasses', 'NumberOfFeatures', 'NumberOfInstances',
       'NumberOfInstancesWithMissingValues', 'NumberOfMissingValues',
       'NumberOfNumericFeatures', 'NumberOfSymbolicFeatures'],
      dtype='object')

In [14]:
dataset_name=  pd.DataFrame (files, columns = ['dataset_name'])
dataset_name

              dataset_name
0                   donut1
1                 diabetes
2              qsar-biodeg
3                  curves2
4                 spambase
5               disk_4000n
6                 haberman
7          dense-disk-5000
8            eeg-eye-state
9               disk_4600n
10  Amazon_employee_access
11                 phoneme
12              disk_1000n
13             Transfusion
14                breast-w
15             electricity
16               chainlink
17              disk_4500n
18         dense-disk-3000
19                engytime
20              disk_5000n
21                    jain
22                  banana
23                  Spectf
24                    atom
25              parkinsons
26                  donut2
27                  circle
28                   flame

In [19]:
df_out =datalist.iloc[:0,:].copy()
df_out

Empty DataFrame
Columns: [did, name, version, uploader, status, format, MajorityClassSize, MaxNominalAttDistinctValues, MinorityClassSize, NumberOfClasses, NumberOfFeatures, NumberOfInstances, NumberOfInstancesWithMissingValues, NumberOfMissingValues, NumberOfNumericFeatures, NumberOfSymbolicFeatures]
Index: []

In [68]:
new_df= datalist.loc[datalist['name'].str.contains("plane", case=False)]
new_df

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
152,152,Hyperplane_10_1E-3,1,1,active,ARFF,500007.0,2.0,499993.0,2.0,11.0,1000000.0,0.0,0.0,10.0,1.0
153,153,Hyperplane_10_1E-4,1,1,active,ARFF,500166.0,2.0,499834.0,2.0,11.0,1000000.0,0.0,0.0,10.0,1.0
215,215,2dplanes,1,1,active,ARFF,NaN,NaN,NaN,0.0,11.0,40768.0,0.0,0.0,11.0,0.0
727,727,2dplanes,2,2,active,ARFF,20420.0,2.0,20348.0,2.0,11.0,40768.0,0.0,0.0,10.0,1.0
1197,1197,BNG(2dplanes),1,1,active,ARFF,NaN,NaN,NaN,0.0,11.0,177147.0,0.0,0.0,11.0,0.0
43122,43122,Hyperplane,1,5348,active,ARFF,NaN,NaN,NaN,NaN,11.0,500000.0,0.0,0.0,10.0,1.0
43849,43849,2018-Airplane-Flights,1,30125,active,arff,NaN,NaN,NaN,NaN,14.0,9534417.0,0.0,0.0,11.0,0.0

In [17]:
df_out=df_out.append(new_df,ignore_index= True)

In [18]:
df_out

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
0,343,white-clover,1,2,active,ARFF,38.0,7.0,1.0,4.0,32.0,63.0,0.0,0.0,27.0,5.0
1,1009,white-clover,2,2,active,ARFF,38.0,7.0,25.0,2.0,32.0,63.0,0.0,0.0,27.0,5.0

In [20]:
i=0
not_in=[]
ls_out=[]
for str in dataset_name["dataset_name"].tolist():
    new_df= datalist.loc[datalist['name'].str.contains(str, case=False)]
    
    if not new_df.empty:
       df_out= df_out.append(new_df)

In [21]:
df_out = df_out.drop_duplicates(subset=['name'], keep='first')

In [22]:
df_out

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
37,37,diabetes,1,1,active,ARFF,500.0,2.0,268.0,2.0,9.0,768.0,0.0,0.0,8.0,1.0
212,212,diabetes_numeric,1,1,active,ARFF,NaN,NaN,NaN,0.0,3.0,43.0,0.0,0.0,3.0,0.0
4541,4541,Diabetes130US,1,874,active,ARFF,54864.0,790.0,11357.0,3.0,50.0,101766.0,0.0,0.0,13.0,37.0
41514,41514,Diabetes(scikit-learn),1,2,active,arff,NaN,NaN,NaN,0.0,11.0,442.0,0.0,0.0,11.0,0.0
42106,42106,uci_diabetes_p,1,9558,active,ARFF,NaN,72.0,NaN,NaN,52.0,101766.0,100723.0,192849.0,16.0,33.0
42994,42994,early-stage-diabetes,1,24140,active,arff,NaN,NaN,NaN,NaN,17.0,520.0,0.0,0.0,1.0,0.0
43063,43063,Diabetes,6,26817,active,ARFF,NaN,NaN,NaN,NaN,9.0,768.0,0.0,0.0,8.0,1.0
43321,43321,DiabetesDataset2019,1,30123,active,arff,NaN,NaN,NaN,NaN,18.0,952.0,47.0,48.0,4.0,0.0
43341,43341,Diabetes-Dataset-2019,1,30123,active,arff,NaN,NaN,NaN,NaN,18.0,952.0,47.0,48.0,4.0,0.0
43384,43384,Diabetes-Data-Set,1,30126,active,arff,NaN,NaN,NaN,0.0,9.0,768.0,0.0,0.0,9.0,0.0
43483,43483,Pima-Indians-Diabetes-Dataset,1,30126,active,arff,NaN,NaN,NaN,0.0,9.0,768.0,0.0,0.0,9.0,0.0
43582,43582,Pima-Indians-Diabetes,1,30123,active,arff,NaN,NaN,NaN,0.0,9.0,768.0,0.0,0.0,9.0,0.0
43643,43643,Early-Stage-Diabetes-Risk-Prediction-Dataset,1,30123,active,arff,NaN,NaN,NaN,NaN,17.0,520.0,0.0,0.0,1.0,0.0
43874,43874,Diabetes-130-Hospitals_(Fairlearn),1,30211,active,arff,NaN,NaN,NaN,0.0,25.0,101766.0,0.0,0.0,7.0,5.0
1494,1494,qsar-biodeg,1,64,active,ARFF,699.0,2.0,356.0,2.0,42.0,1055.0,0.0,0.0,41.0,1.0
44,44,spambase,1,1,active,ARFF,2788.0,2.0,1813.0,2.0,58.0,4601.0,0.0,0.0,57.0,1.0
135,135,BNG(spambase),1,1,active,ARFF,605948.0,3.0,394052.0,2.0,58.0,1000000.0,0.0,0.0,0.0,58.0
44095,44095,spambase_reproduced,1,30495,active,arff,2788.0,NaN,1813.0,2.0,58.0,4601.0,0.0,0.0,57.0,1.0
43,43,haberman,1,1,active,ARFF,225.0,12.0,81.0,2.0,4.0,306.0,0.0,0.0,2.0,2.0
1471,1471,eeg-eye-state,1,64,active,ARFF,8257.0,2.0,6723.0,2.0,15.0,14980.0,0.0,0.0,14.0,1.0
4135,4135,Amazon_employee_access,1,2,active,ARFF,30872.0,7518.0,1897.0,2.0,10.0,32769.0,0.0,0.0,0.0,10.0
43900,43900,amazon_employee_access,2,30861,active,ARFF,30872.0,NaN,1897.0,2.0,10.0,32769.0,0.0,0.0,0.0,10.0
1489,1489,phoneme,1,64,active,ARFF,3818.0,2.0,1586.0,2.0,6.0,5404.0,0.0,0.0,5.0,1.0
1464,1464,blood-transfusion-service-center,1,64,active,ARFF,570.0,2.0,178.0,2.0,5.0,748.0,0.0,0.0,4.0,1.0
15,15,breast-w,1,1,active,ARFF,458.0,2.0,241.0,2.0,10.0,699.0,16.0,16.0,9.0,1.0
251,251,BNG(breast-w),1,1,active,ARFF,25820.0,2.0,13546.0,2.0,10.0,39366.0,0.0,0.0,9.0,1.0
151,151,electricity,1,1,active,ARFF,26075.0,7.0,19237.0,2.0,9.0,45312.0,0.0,0.0,7.0,2.0
1168,1168,electricity_prices_ICON,1,2,active,ARFF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40985,40985,tamilnadu-electricity,3,4265,active,ARFF,2906.0,20.0,1397.0,20.0,4.0,45781.0,0.0,0.0,2.0,2.0
43588,43588,Household-monthly-electricity-bill,1,30123,active,arff,NaN,NaN,NaN,NaN,10.0,1000.0,0.0,0.0,10.0,0.0
43805,43805,Daily-Electricity-Price-and-Demand-Data,1,30125,active,arff,NaN,NaN,NaN,NaN,14.0,2106.0,4.0,4.0,11.0,0.0
1460,1460,banana,1,64,active,ARFF,2924.0,2.0,2376.0,2.0,3.0,5300.0,0.0,0.0,2.0,1.0
337,337,SPECTF,1,2,active,ARFF,254.0,2.0,95.0,2.0,45.0,349.0,0.0,0.0,44.0,1.0
1181,1181,BNG(spectf_test),1,1,active,ARFF,784810.0,2.0,215190.0,2.0,45.0,1000000.0,0.0,0.0,44.0,1.0
1212,1212,BNG(SPECTF),1,1,active,ARFF,718700.0,2.0,281300.0,2.0,45.0,1000000.0,0.0,0.0,44.0,1.0
4548,4548,BuzzinsocialmediaTomsHardware,1,874,active,ARFF,NaN,NaN,NaN,NaN,97.0,28179.0,0.0,0.0,97.0,0.0
1488,1488,parkinsons,1,64,active,ARFF,147.0,2.0,48.0,2.0,23.0,195.0,0.0,0.0,22.0,1.0
4531,4531,parkinsons-telemonitoring,1,874,active,ARFF,NaN,NaN,NaN,NaN,22.0,5875.0,0.0,0.0,22.0,0.0
4540,4540,ParkinsonSpeechDatasetwithMultipleTypesofSound...,1,874,active,ARFF,NaN,NaN,NaN,NaN,29.0,1039.0,0.0,0.0,29.0,0.0

In [23]:
df_out.to_csv("data_name_30.csv")